openapi: 3.0.0   # Open api version

info:
  title: GPT2-Friends
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is generate Friends script as array.
    ---
      How to use:
      * First, Choose Friends character name.
      * Second, Fill what the character will say in text. This will be base of script.
      * And then, Fill number in length. Text is created as long as "length". I recommend between 100 and 300.
      * If length is so big, generate time will be long.
    ---
    And you can use this in [demo page](https://master-gpt2-friends-fpem123.endpoint.ainize.ai/).

    Fine tuning data reference >> [Friends TV Show Script](https://www.kaggle.com/divyansh22/friends-tv-show-script)

servers:
  - url: https://master-gpt2-friends-fpem123.endpoint.ainize.ai/

paths:
  /friends:
    post:
      requestBody:
        required: true
        description: |
          This request will generate Friends script.

          Request body example

              name: Rachel
              text: Hello,
              length: 150

          curl example

              curl -X POST "https://master-gpt2-friends-fpem123.endpoint.ainize.ai/friends" -H "accept: application/json" -H "Content-Type: multipart/form-data" -F "name=Rachel" -F "text=Hello" -F "length=50"

        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum: [Rachel, Joey, Ross, Charlie, Phoebe, Monica]
                  description: "Friends character name."
                text:
                  type: string
                  description: "The base of script."
                length:
                  type: string
                  description: "The size of text."
              required:
                - name
                - text
                - length
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"